extends ../../layout/default.pug
include ../../mixins/box-head.pug
include ../../mixins/moment.pug
include ../../mixins/product-layout-slide.pug

block main
  .product-detail
    .container.my-5
      .row  
        .col-xl-6.col-md-6
          .inner-thumb
            img(src=product.thumbnail, alt=product.title)
        .col-xl-6.col-md-6
          h1(class="inner-title") #{product.title}

          hr(style="background-color: gray")

          if (product.category)
            div(class="inner-category") 
              span.text Danh mục: 
              a(href=`/products/${product.category.slug}`) #{product.category.title}
          if(product.listSize)
            each item in product.listSize 
              button.button-size.mt-3.mb-3.mr-3(id=item.id price=item.price priceNew=item.priceNew stock=item.stock) #{item.size}
          if (product.listSize)
            div(class="inner-price-new") <i class="fa-solid fa-coins"></i> <span class= "formatMoney"> #{product.listSize[0].priceNew}đ</span>
          if (product.listSize)
            div(class="inner-price-old formatMoney") #{product.listSize[0].price} đ
          if (product.discountPercentage)
            div(class="inner-percent text") <i class="fa-solid fa-arrow-trend-down"></i> Giảm tới <span>#{product.discountPercentage} %</span>

          if (product.listSize)
            div(class="inner-stock text") Còn lại <span class="stock">#{product.listSize[0].stock}</span> sản phẩm
          
          div(class="inner-stock text") Đã bán <span>#{product.sales}</span>

          .inner-rating.mb-3(style="color: #ccc") <i class="fa-solid fa-star"></i> #{product.ratingNumber}

          form(
            action=`/cart/add/${product.id}`
            method="POST"
            class = "formCart"
          ) 
            input(
              class="sizeInput d-none"
              type = "text"
              name="sizeId"
              value=product.listSize[0].id
            )
            input(
              class="form-control stockInput"
              type="number"
              name="quantity"
              value="1"
              min="1"
              max=product.listSize[0].stock
            )
            button(
              type="submit"
              class="btn btn-success btn-block"
            ) Thêm vào giỏ hàng
    .box-feedback
      .container
        .row  
          .col-12
            .inner-title.text-white <b>Đánh giá</b>
            if myToken
              form(
                action=`/products/detail/feedback/${product.slug}`
                id="form-feedback"
                method="POST"  
              )
                <div id="rating">
                  <input type="radio" id="star5" name="rating" value="5"/>
                  <label class = "full" for="star5" title="Awesome - 5 stars"></label>
              
                  <input type="radio" id="star4" name="rating" value="4"/>
                  <label class = "full" for="star4" title="Pretty good - 4 stars"></label>
              
                  <input type="radio" id="star3" name="rating" value="3"/>
                  <label class = "full" for="star3" title="Meh - 3 stars"></label>
              
                  <input type="radio" id="star2" name="rating" value="2"/>
                  <label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
              
                  <input type="radio" id="star1" name="rating" value="1"/>
                  <label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                </div>
                div(class="form-group")
                  label(for="desc" class="inner-title")
                  textarea(
                      class="form-control"
                      id="desc"
                      name="description"
                      rows="6"
                      required
                  )
                div(class="form-group" style="margin: 0; padding-bottom:30px; display: flex; justify-content: flex-end")
                  button(
                      type="submit"
                      class="btn btn-primary button-1 button-feedback"
                  ) Xác nhận
            else 
              h2.text-white.ml-5 Đăng nhập để bình luận!
              
          .col-12 
            each feedback in product.feedback 
              if feedback.userToken == myToken 
                .wrap-feedback.mine
                  .user
                    .avatar.mr-2
                      img(src=feedback.thumbnail, alt="avt", width = "40px" height = "40px",style="border-radius:50%")
                    .name.mr-4 #{feedback.fullName}
                    .rating #{feedback.rating}/5 <i class="fa-solid fa-star"></i>
                  .time.ml-4
                    +formatDateTime(feedback.time)
                  .comment.ml-5 #{feedback.comment}
                .wrap-hr(style="display: flex; align-item: center; justify-content: center")
                  hr.m-0(style="height: 0.5px; background-color: #158b8d; width: 95%")
            hr
            each feedback in product.feedback 
              if feedback.userToken != myToken
                .wrap-feedback
                  .user
                    .avatar.mr-2 
                      img(src=feedback.thumbnail, alt="avt", width = "40px" height = "40px",style="border-radius:50%")
                    .name.mr-4 #{feedback.fullName}
                    .rating #{feedback.rating}/5 <i class="fa-solid fa-star"></i>
                  .time.ml-4
                    +formatDateTime(feedback.time)
                  .comment.ml-5 #{feedback.comment}
              
                  .wrap-hr(style="display: flex; align-item: center; justify-content: center")
                    hr.m-0.mt-3(style="height: 0.5px; background-color: #158b8d; width: 99%")
              

    hr


    .container.my-5
      +box-head("SẢN PHẨM LIÊN QUAN")
      .row
        .col-12 
          #demo
              #indemo
                  #demo1
                    +product-grid-slide(relatedProduct)
                  #demo2
        .col-12.mt-5
          +box-head("MÔ TẢ SẢN PHẨM")
          .inner-desc !{product.description}
  script(src="/js/feedback.js")
  script(src="/js/product.js") 
  script(src="/js/format.js") 