extends ../../layout/default.pug
include ../../mixins/box-head.pug
include ../../mixins/alert.pug
include ../../mixins/box-head.pug
include ../../mixins/moment.pug
include ../../mixins/filter-status.pug
include ../../mixins/search.pug
include ../../mixins/sort-order.pug

block main
  +alert-error(3000)
  .page-format
    .container.my-3
      .card.mb-3.filter-status-search
        .card-body
            .row
                .col-12
                    +filter-status(filterStatus)
      .card.mb-3.sort
          .card-header(style="color: white") <i class="fa-solid fa-arrow-up-short-wide"></i> Lọc 
          .card-body
              .row
                  .col-4
                      +sortOrder()
                  .col-4
                  .col-4
                      +search(keyword)
      .row
        .col-12 
          +box-head(pageTitle)
        .col-12
          table(class="table table-bordered" table-cart)
            thead
              tr
                .row
                  th Ảnh
                  th.col-md-3.col-12 Tên
                  th Giá
                  th Số lượng
                  th Tổng tiền
                  th Thời gian
                  th Trạng thái
                  th
            tbody
              if(orders.length>0)
                each order, index in orders
                    tr
                      td
                        img(
                          src=order.productInfo.thumbnail
                          alt=order.productInfo.title
                          width="80px"
                        )
                      td
                        a(
                          href=`/products/detail/${order.productInfo.slug}`
                        ) #{order.productInfo.title}
                      td.formatMoney #{order.priceNew}đ
                      td
                        input(
                          value=order.quantity
                          disabled
                          item-id=order.product_id
                          style="width: 60px"
                        )
                      td.formatMoney #{order.totalPrice}đ
                      td 
                        +formatDateTime(order.createAt)
                      td #{order.statusDisplay}
                      td(class="table-history-action")
                        div 
                          a(href=`/products/detail/${order.productInfo.slug}` class="button-1") Mua lại
                        if(order.statusDisplay=='Đang xác nhận' ||order.statusDisplay=='Đã xác nhận')
                          .mt-2 
                           button(
                              class="btn btn-danger btn-sm button-2"
                              button-delete
                              data-id = order.order_id
                              object-id = order.object_id
                          ) Hủy
                          form(
                              action="" 
                              method="POST"
                              id = "form-delete-item"
                              data-path = `/history/delete`
                          ) 
              else
                tr
                  td(colspan="7") Chưa có sản phẩm nào!
    script(src="/js/cart.js") 
    script(src="/js/order.js")
    script(src="/js/format.js")