mixin product-grid(products)
    .row.box-product
        each item in products 
            a(href=`/products/detail/${item.slug}`)
                .col-xl-3.col-md-4.col-6.mb-3
                    .product-item
                        .inner-image
                            img(src=item.thumbnail, alt=item.title)
                            if item.featured == "1"
                                .inner-featured Trending
                            .overlay-product
                                form(
                                    action=`/cart/add/${item.id}`
                                    method="POST"
                                )
                                    input(
                                        class="form-control mb-2"
                                        type="number"
                                        name="quantity"
                                        value="1"
                                        min="1"
                                        max=item.stock
                                        style="display: none"
                                    )
                                    button(
                                        type="submit"
                                        class="btn btn-success btn-block"
                                    ) <i class="fa-solid fa-cart-plus"></i>
                                
                        .inner-content
                            h3.inner-title
                                a(href=`/products/detail/${item.slug}`) #{item.title}
                            .inner-price
                                .inner-price-new.formatMoney #{item.priceNew}đ
                                .inner-price-old.formatMoney #{item.price}đ
                            .inner-discount -#{item.discountPercentage}%
                            .wrap(style="display: flex;align-item: center; justify-content: space-between")
                                .inner-rating.mt-2 <i class="fa-solid fa-star"></i> #{item.ratingNumber}/5
                                .inner-sales.m-0.mt-2 
                                    p.m-0 Đã bán: #{item.sales}

            