extends ../../layout/default.pug
include ../../mixins/box-head.pug
include ../../mixins/alert.pug

block main
  +alert-error(3000)
  .page-format
    .container.my-3
      .button-history
        a(href="/history") << Lịch sử mua hàng 
      .row
        .col-12
          table(class="table table-bordered" table-cart)
            thead
              tr
                th STT
                th Ảnh
                th Tên
                th Loại
                th Giá
                th Số lượng
                th Tổng tiền
                if(cartDetail.products.length > 0)
                  th Xóa
            tbody
              if(cartDetail.products.length > 0)
                each item, index in cartDetail.products
                  tr
                    td #{index+1}
                    td
                      img(
                        src=item.productInfo.thumbnail
                        alt=item.productInfo.title
                        width="80px"
                      )
                    td
                      a(
                        href=`/products/detail/${item.productInfo.slug}`
                      ) #{item.productInfo.title}
                    td #{item.sizeInfo.size}
                    td.formatMoney #{item.sizeInfo.priceNew}$
                    td
                      input(
                        type="number"
                        name="quantity"
                        value=item.quantity
                        min="1"
                        sizeId = item.sizeInfo.id
                        item-id=item.product_id
                        style="width: 60px"
                      )
                    td.formatMoney #{item.totalPrice}đ
                    td
                      a(
                        href=`/cart/delete/${item.product_id}/${item.sizeInfo.id}`
                        class="btn btn-danger delete-button"
                      ) Xóa
              else
                tr
                  td(colspan="7") Chưa có sản phẩm nào!
          
          h3(class="text-right table-cart") Tổng đơn hàng: <span class="formatMoney">#{cartDetail.totalPrice}$</span>
          
          div(class="text-right mt-3")
            a(href="/checkout" class="btn btn-success thanhToan") THANH TOÁN
    script(src="/js/cart.js") 
    script(src="/js/format.js")